<div class="hero" style='background-image: url({{ file_url(node.field_hero_image.entity.uri.value) }});'>
    <div class="hero__content">
        <div class='event__title--hero'>
            <h1>Florida<br/>DrupalCamp</h1>
        </div>
        <div class="event__date--hero">Feb 16-18, 2018</div>
        <div class="event__location--hero">Florida Technical College<br/>Orlando, Florida</div>
    </div>
</div>