<div class="region-header">
  <div id="block-fldrupalcamp2018-branding" class="contextual-region site-branding block block-system block-system-branding-block">
    <a href="/" title="Home" rel="home" class="logo">
      <img src="/themes/custom/fldrupalcamp2018/logo.svg" alt="Home">
    </a>
    <div class="site-branding-text">
      <div class="site-branding-name">
        <a href="/" title="Home" rel="home">Florida DrupalCamp</a>
      </div>
    </div>
  </div>
  <nav class="block-system-menublock">
    <ul class="menu">
      <li class="menu__item menu__item--home"><a href="/">Home</a></li>
      <li class="menu__item menu__item--about"><a href="/">About</a></li>
      <li class="menu__item menu__item--events"><a href="/">Events</a></li>
      <li class="menu__item menu__item--more"><a href="/">More</a></li>
    </ul>
  </nav>
</div>